<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="card-title">Welcome to NodeJS Authentication System</h1>
                <p class="card-text"><%= message %></p>
                <div class="mt-4">
                    <a href="/user/signin" class="btn btn-primary me-2">Sign In</a>
                    <a href="/user/signup" class="btn btn-outline-primary">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>